@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: font-poppins;
}

.cardsContainer {

    display: flex;
    color: yellow;
}
  .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;}
  .card {
      max-width:500px
     }
  
  .imagen {
      max-width: 400px;
      max-height: 300px;
    }
    
  
